.custom-cursor {
  backface-visibility: hidden;
  perspective: 1000;
  transform-style: preserve-3d;
  will-change: transform
}

.custom-blur-md {
  -webkit-filter: blur(15px);
  filter: blur(15px)
}

.mbm-cd {
  mix-blend-mode: color-dodge
}

.custom-cursor {
  background-color: #333;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: none;
  display: none;
  height: 10px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 10px;
  z-index: 1000000000
}

.custom-cursor.cc-1 {
  color: #fff;
  font-size: 12px;
  z-index: 10000000001
}

.custom-cursor.cc-1 svg {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}

.custom-cursor.cc-2 {
  background-color: #d4d4d4;
  border-color: #d4d4d4
}

.isMobile .custom-cursor {
  display: none !important
}
